body {
    margin: 0;
    padding: 0;
}

/* ugly asf but will work it later */

/* headers */

.navbar {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.navbar a {
    text-decoration: none;
}

.nav-title {
    margin-left: 60px;
    font-size: 1.2em;
}

.navbar a:hover {
    text-decoration: underline;
}

.nav-links {
    display: flex;
    gap: 9px;
    justify-content: left;
    align-items: center;
    padding: 10px;
    font-size: x-large;
}

.nav-user {
    display: flex;
    justify-content: space-evenly;
    width: 130px;
    height: auto;
}

.nav-user span, .nav-user a {
    display: flex;
    vertical-align: middle;
    align-items: center;
}

.nav-user a {
    font-size: larger;
    gap: 5px;
}

.nav-username {
    font-weight: bold;
    font-size: larger;
}

.nav-user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: 3px;
    margin-left: 5px;
}

/* portal content */

.portal-fronttext {
    text-align: center;
    margin: 0 15%;

}

.service-item {
    border-radius: 8px;
}

.services-list  {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 1.5rem;
  padding: 1.2rem;
  white-space: nowrap;
  height: 100%; /* or a specific value like 300px */
  margin: auto 1%;
}

.services-list a {
  flex: 0 0 23%;
  max-width: 300px;
  scroll-snap-align: start;
  text-decoration: none;
  color: inherit;
}

.services-list article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 1rem;
  box-sizing: border-box;
  border-radius: 8px;
  min-height: 100%;
  white-space: normal;
  font-size: 1.2em;
}

.services-list article h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.services-list img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 8px;

}

.service-note {
    padding: 3px;
}

.service-item p {
    margin-bottom: 36px;
    overflow-wrap: break-word;
    word-break: break-word; /* just in case */
    white-space: normal;
}

.services-list.dragging {
    cursor: grabbing;
    user-select: none;
}

.text-section {
    text-align: center;
    font-size: 1.2em;
    margin: 20px auto;
    padding: 0;
    width: 97%;
    border-radius: 8px;
}


/* General colors : */

body {background-color: #EDDDD4;} /*background color*/

/* headers */

.navbar {
    background-color: #281B1E; /*navbar (header bar)*/
    color: rgb(190, 83, 12); /*username color (when connected)*/
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.navbar a {
    color: white; /*text of navbar (except username when connected)*/
}


.portal-fronttext {
    color: #281B1E; /* default color for the text of the portal page (welcome message) */
    font-size: 1.3em;
}

.portal-fronttext h1 {
    font-size: 1.1em;
}

.admin-privileges {
    color:#984447 /*color of the "administrative privileges" text when connected as admin*/
}

#portal-message-admin {
    background-color: #984447; /*background of the admin text section (bottom of page before admin services)*/
    color: white; /*text of the text section*/
    border-color: #281B1E;
}

.service-item article {
    color: #245779; /* color of the text of the services*/
}

.service-item article h3 {
    color:#170F11; /* color of the names of the services*/
}


.service-item {
    border: 1px solid #281B1E; /*border for the normal services*/
}

#admin-services .service-item{
    border-color: #984447; /*color of the border for the admin services (comment to keep the same as normal ones)*/
}

.text-section {
    background-color: #f0f0f0; /*background for the text section (normal one when a message is set)*/
    border: 2px solid #281B1E; /*border of all text section */
}






