<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <header>
        <style>
            .nav-user a {
                font-size: larger;
                
            }
        </style>
        <nav class="navbar">
            <div class="nav-links">
                <a href="/files/">Files</a>
                {{ if.Username}}<a href="/logout">Logout</a><style>.nav-title {margin-left: 0;}</style><!-- i'm terrible at css dont question this please -->{{end}}
            </div>
            <div class="nav-title">
                <h1><a href="/">Homeserver-Portal</a></h1>
            </div>
            <div class="nav-user">
                {{ if .Username }}<span class="nav-username">{{ .Username }}</span>{{ else }}<a href="/login">Login</a>{{ end }}
                {{ if .icon }}<img src="/static/user/{{ .icon }}">{{ else }}<img src="/static/favicon.ico">{{ end }}
            </div>
        </nav>
    </header>
    {{ template "content" . }}
</body>
</html>
