<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/favicon.ico">
</head>
<body>
    <header>
        <style>
            .nav-user a {
                font-size: larger;
                
            }
        </style>
        <nav class="navbar">
            <div class="nav-links">
                {{ if .Username}}<a href="/logout">Logout</a>{{else}}<a href="/login">Login</a><style>.nav-title {margin-left: -13px;}</style><!--i'm terrible at css please dont judge-->{{end}}
                <a href="/files/">Files</a>
            </div>
            <div class="nav-title">
                <h1><a href="/">Homeserver-Portal</a></h1>
            </div>
            <div class="nav-user">
                {{ if .Username }}<span class="nav-username">{{ .Username }}</span>{{ end }}
                {{ if .icon }}<img src="/static/user/{{ .icon }}">{{ else }}<img src="/static/favicon.ico">{{ end }}
            </div>
        </nav>
    </header>
    <main>
    {{ template "content" . }}
    </main>
</body>
<footer>
    {{ template "footer" . }}
</footer>
</html>
